In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [114]:
df=pd.read_csv('~/analysis/dyads/data/unverified_dyads.csv')
len(df)

8715

In [115]:
#df.columns

**Compute More Features**
    
    #Derived features ...

In [116]:
# More Features ...
#B1:
#df['B1_Activeness'] = df.B1_Statuses.truediv(df.B1_AccountAge)
df['B1_Friendship'] = df.B1_Friends.truediv(df.B1_Followers)
df['B1_Followership'] = df.B1_Followers.truediv(df.B1_Friends)
df['B1_Interestingness'] = df.B1_Favourite.truediv(df.B1_Statuses)
df['B1_BidirFriendship'] = (df.B1_Friends + df.B1_Followers).truediv(df.B1_Friends)
df['B1_BidirFollowership'] = (df.B1_Friends + df.B1_Followers).truediv(df.B1_Followers)
#B2:
df['B2_Friendship'] = df.B2_Friends.truediv(df.B2_Followers)
df['B2_Followership'] = df.B2_Followers.truediv(df.B2_Friends)
df['B2_Interestingness'] = df.B2_Favourite.truediv(df.B2_Statuses)
df['B2_BidirFriendship'] = (df.B2_Friends + df.B2_Followers).truediv(df.B2_Friends)
df['B2_BidirFollowership'] = (df.B2_Friends + df.B2_Followers).truediv(df.B2_Followers)

In [117]:
df.columns

Index(['Dyad', 'B1_ID', 'B1_ScreenName', 'B1_CreatedAt', 'B1_Followers',
       'B1_Friends', 'B1_Statuses', 'B1_Description', 'B1_Location',
       'B1_Favourite', 'B1_Verification', 'B1_Tweet', 'B1_AccountCreated',
       'B1_RTCount', 'B2_ID', 'B2_ScreenName', 'B2_CreatedAt', 'B2_Followers',
       'B2_Friends', 'B2_Statuses', 'B2_Description', 'B2_Location',
       'B2_Favourite', 'B2_Verification', 'B2_Tweet', 'B2_AccountCreated',
       'B2_RTCount', 'B1_Friendship', 'B1_Followership', 'B1_Interestingness',
       'B1_BidirFriendship', 'B1_BidirFollowership', 'B2_Friendship',
       'B2_Followership', 'B2_Interestingness', 'B2_BidirFriendship',
       'B2_BidirFollowership'],
      dtype='object')

In [118]:
#df.columns
df1=df[['B1_ID','B1_CreatedAt','B1_Followers','B1_Friends','B1_Statuses','B1_Description',
    'B1_Location','B1_Favourite','B1_Verification','B1_Tweet','B1_AccountCreated',
    'B1_RTCount','B2_ID','B2_CreatedAt','B2_Followers','B2_Friends','B2_Statuses',
    'B2_Description','B2_Location','B2_Favourite','B2_Verification','B2_Tweet',
    'B2_AccountCreated','B2_RTCount','B1_Friendship', 'B1_Followership', 
    'B1_Interestingness','B1_BidirFriendship','B1_BidirFollowership','B2_Friendship',
    'B2_Followership','B2_Interestingness','B2_BidirFriendship', 'B2_BidirFollowership']]
df1 = df1.drop_duplicates(subset='B1_ID')
len(df), len(df1)

(8715, 1806)

In [119]:
df.to_csv('~/analysis/ra-role/data/unanonymised-set.csv', index_label=False)
df1.to_csv('~/analysis/ra-role/data/pseudoanonymised-set.csv', index_label=False)
#df2.to_csv('~/analysis/ra-role/data/annonymised-set.csv', index_label=False)

In [120]:
df1.head(2)

,B1_ID,B1_CreatedAt,B1_Followers,B1_Friends,B1_Statuses,B1_Description,B1_Location,B1_Favourite,B1_Verification,B1_Tweet,...,B1_Friendship,B1_Followership,B1_Interestingness,B1_BidirFriendship,B1_BidirFollowership,B2_Friendship,B2_Followership,B2_Interestingness,B2_BidirFriendship,B2_BidirFollowership
0,966710486,2012-11-23 19:38:18,4153,484,14942,No bio,The Netherlands/London,5338,False,Football is so unpredictable,...,0.116542,8.580579,0.357248,9.580579,1.116542,0.019807,50.487500,44.095890,51.487500,1.019807
0,514799426,2012-03-04 21:43:59,2126,421,920,pray the fakes get exposed,prizren/23,74340,False,@liba443 @userbewerten WIR HABEN EINE SNITCH I...,...,0.198024,5.049881,80.804348,6.049881,1.198024,2.642857,0.378378,83.894737,1.378378,3.642857

In [121]:
len(df1)

1806

In [122]:
df1.columns

Index(['B1_ID', 'B1_CreatedAt', 'B1_Followers', 'B1_Friends', 'B1_Statuses',
       'B1_Description', 'B1_Location', 'B1_Favourite', 'B1_Verification',
       'B1_Tweet', 'B1_AccountCreated', 'B1_RTCount', 'B2_ID', 'B2_CreatedAt',
       'B2_Followers', 'B2_Friends', 'B2_Statuses', 'B2_Description',
       'B2_Location', 'B2_Favourite', 'B2_Verification', 'B2_Tweet',
       'B2_AccountCreated', 'B2_RTCount', 'B1_Friendship', 'B1_Followership',
       'B1_Interestingness', 'B1_BidirFriendship', 'B1_BidirFollowership',
       'B2_Friendship', 'B2_Followership', 'B2_Interestingness',
       'B2_BidirFriendship', 'B2_BidirFollowership'],
      dtype='object')

**REFINED SET**

In [4]:
#Positive examples:
df2=pd.read_csv('~/analysis/dyads/data/unverified_dyads.csv')
#INCLUDE CLASS LABEL: 
df2.loc[:,'Class'] = np.ones(len(df2), dtype=np.int16) # For positive class ... 
#df1.columns

In [5]:
pairs = []
for a , b in zip(df2.B1_ScreenName, df2.B2_ScreenName):
    a = a[:3]+str(len(a))
    b = b[:3]+str(len(b))
    pairs.append((a,b))
df2['Pairs'] = pairs

In [6]:
df1 = df2[['Pairs','B1_CreatedAt', 'B1_Followers','B1_Friends', 'B1_Statuses',
 'B1_Description','B1_Location','B1_Favourite','B1_Verification', 'B1_Tweet','B1_RTCount',
'B2_CreatedAt', 'B2_Followers', 'B2_Friends', 'B2_Statuses', 'B2_Description',
'B2_Location','B2_Favourite', 'B2_Verification', 'B2_Tweet', 'B2_RTCount', 'Class']]

In [7]:
df1.head()

,Pairs,B1_CreatedAt,B1_Followers,B1_Friends,B1_Statuses,B1_Description,B1_Location,B1_Favourite,B1_Verification,B1_Tweet,...,B2_Followers,B2_Friends,B2_Statuses,B2_Description,B2_Location,B2_Favourite,B2_Verification,B2_Tweet,B2_RTCount,Class
0,"(Arm13, mxs8)",2012-11-23 19:38:18,4153,484,14942,No bio,The Netherlands/London,5338,False,Football is so unpredictable,...,4039,80,292,Ø£Ù‡Ù„ Ø§Ù„Ø³Ù†Ø© ÙˆØ§Ù„Ø¬Ù…Ø§Ø¹Ø©,NaN,12876,False,@YaqubAlRashid1 Yea I also read that Hadith! T...,0.0,1
1,"(Arm13, diy7)",2012-11-23 19:38:18,4153,484,14942,No bio,The Netherlands/London,5338,False,Football is so unpredictable,...,4446,681,51349,revert ðŸŒ±ðŸ•‹,"South london, UK",9784,False,NaN,NaN,1
2,"(Arm13, TWl14)",2012-11-23 19:38:18,4153,484,14942,No bio,The Netherlands/London,5338,False,Football is so unpredictable,...,4512,368,249160,ðŸ‡®ðŸ‡·ðŸ‡®ðŸ‡¹ðŸ‡«ðŸ‡·,LDN/PRS/MLN,141504,False,@DrunkyGa i love you too mon roi ðŸ’“,0.0,1
3,"(Arm13, rak9)",2012-11-23 19:38:18,4153,484,14942,No bio,The Netherlands/London,5338,False,Football is so unpredictable,...,1153,985,1009,6â€™3 ðŸ’©,London / Leicester,3597,False,@MxM247_ Wash your mouth out on about Arsenal ðŸ¤¢ðŸ¤®,0.0,1
0,"(shp11, hha9)",2012-03-04 21:43:59,2126,421,920,pray the fakes get exposed,prizren/23,74340,False,@liba443 @userbewerten WIR HABEN EINE SNITCH I...,...,14,37,19,62ðŸ–¤,"Dersim, Kurdistan",1594,False,RT @annaclairerusso: It gets better every time...,307546.0,1

**COMPARING SHARED FEATURES BETWEEN PAIRS**

The features to compute/evaluate using tweets/posts from users include: interaction and frequency of the interaction between users (using attrinutes such as RT or liking common content/user, positive comment, pairwise mentioning), common or similar account description and location ...

In [9]:
df1 = df2[['Pairs','B1_Description','B1_Location','B1_Verification','B1_Tweet',
'B2_Description','B2_Location','B2_Verification', 'B2_Tweet','Class']]
df1.head()

,Pairs,B1_Description,B1_Location,B1_Verification,B1_Tweet,B2_Description,B2_Location,B2_Verification,B2_Tweet,Class
0,"(Arm13, mxs8)",No bio,The Netherlands/London,False,Football is so unpredictable,Ø£Ù‡Ù„ Ø§Ù„Ø³Ù†Ø© ÙˆØ§Ù„Ø¬Ù…Ø§Ø¹Ø©,NaN,False,@YaqubAlRashid1 Yea I also read that Hadith! T...,1
1,"(Arm13, diy7)",No bio,The Netherlands/London,False,Football is so unpredictable,revert ðŸŒ±ðŸ•‹,"South london, UK",False,NaN,1
2,"(Arm13, TWl14)",No bio,The Netherlands/London,False,Football is so unpredictable,ðŸ‡®ðŸ‡·ðŸ‡®ðŸ‡¹ðŸ‡«ðŸ‡·,LDN/PRS/MLN,False,@DrunkyGa i love you too mon roi ðŸ’“,1
3,"(Arm13, rak9)",No bio,The Netherlands/London,False,Football is so unpredictable,6â€™3 ðŸ’©,London / Leicester,False,@MxM247_ Wash your mouth out on about Arsenal ðŸ¤¢ðŸ¤®,1
0,"(shp11, hha9)",pray the fakes get exposed,prizren/23,False,@liba443 @userbewerten WIR HABEN EINE SNITCH I...,62ðŸ–¤,"Dersim, Kurdistan",False,RT @annaclairerusso: It gets better every time...,1

In [ ]:
#HASHTAGS: 
df1.loc[:,'B1_Hashtags'] = df1.B1_Tweet.apply(lambda x: get_hashtags(x))
df1.loc[:,'B2_Hashtags'] = df1.B2_Tweet.apply(lambda x: get_hashtags(x))
#USER MENTION: 
df1.loc[:,'B1_Mentions'] = df1.B1_Tweet.apply(lambda x: get_usermention(x))
df1.loc[:,'B2_Mentions'] = df1.B2_Tweet.apply(lambda x: get_usermention(x))

In [12]:
df1.head()

,Pairs,B1_Description,B1_Location,B1_Verification,B1_Tweet,B2_Description,B2_Location,B2_Verification,B2_Tweet,Class,B1_Hashtags,B2_Hashtags,B1_Mentions,B2_Mentions
0,"(Arm13, mxs8)",No bio,The Netherlands/London,False,Football is so unpredictable,Ø£Ù‡Ù„ Ø§Ù„Ø³Ù†Ø© ÙˆØ§Ù„Ø¬Ù…Ø§Ø¹Ø©,NaN,False,@YaqubAlRashid1 Yea I also read that Hadith! T...,1,[],[],[],[@yaqubalrashid1]
1,"(Arm13, diy7)",No bio,The Netherlands/London,False,Football is so unpredictable,revert ðŸŒ±ðŸ•‹,"South london, UK",False,NaN,1,[],[],[],[]
2,"(Arm13, TWl14)",No bio,The Netherlands/London,False,Football is so unpredictable,ðŸ‡®ðŸ‡·ðŸ‡®ðŸ‡¹ðŸ‡«ðŸ‡·,LDN/PRS/MLN,False,@DrunkyGa i love you too mon roi ðŸ’“,1,[],[],[],[@drunkyga]
3,"(Arm13, rak9)",No bio,The Netherlands/London,False,Football is so unpredictable,6â€™3 ðŸ’©,London / Leicester,False,@MxM247_ Wash your mouth out on about Arsenal ðŸ¤¢ðŸ¤®,1,[],[],[],[@mxm247_]
0,"(shp11, hha9)",pray the fakes get exposed,prizren/23,False,@liba443 @userbewerten WIR HABEN EINE SNITCH I...,62ðŸ–¤,"Dersim, Kurdistan",False,RT @annaclairerusso: It gets better every time...,1,[],[],"[@liba443, @userbewerten]",[@annaclairerusso:]

    #SHARED ATTRIBUTES:

In [ ]:
#

In [10]:
#HELPWER FUNCTIONS:
def get_usermention(x):
    x = str(x)
    return [str(i).lower() for i in x.split() if i.startswith('@')]

def get_hashtags(x):
    x = str(x)
    return [str(i).lower() for i in x.split() if i.startswith('#')]

# extract the strings associalted with each hashtag, which will be later augmented with the main text (AugmentedS)
def get_hashtagstring(hashtags):
    return ' '.join([h[1:] for h in hashtags])